header {
    min-height: 500px;
}

.nav-bar {
    width: 200px;
    height: 90%;
    position: absolute;

}

.logo {
    margin: 2px auto;
    padding: 8px 0;
    width: 140px;
    height: auto;
    max-height: 250px;

}


nav {
    display: block;
    text-align: center;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;
}