header {
    min-height: 800px;
    width: 200px;
    background-color: #f08080;
}

.nav-bar {
    width: 200px;
    height: 100%;
}

.logo {
    margin: 2px auto;
    padding: 8px 0;
    width: 100%;
    height: auto;
    max-height: 250px;
}


nav {
    height: 210px;
    top: 20%;
    width: 100%;

}

li {
    margin: 10px 0;
}

span {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}